[Unit]
Description=MISP enhancement modules
After=network.target remote-fs.target nss-lookup.target httpd.service

[Service]
ExecStart=/var/www/cgi-bin/misp-modules-venv/bin/misp-modules -l 127.0.0.1
User=apache
Restart=always
RestartSec=60

[Install]
WantedBy=multi-user.target
