[Unit]
Description=MISP enhancement modules
After=network.target remote-fs.target nss-lookup.target httpd.service

[Service]
ExecStart=/var/www/cgi-bin/misp-modules-venv/bin/misp-modules
User=apache

[Install]
WantedBy=multi-user.target
